In [1]:
# Add Matplotlib inline magic command
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
file_dir='C://Users/Ian/Desktop/Misc_Projects/World_Cup_Analysis/Data'

import_matches_a = pd.read_csv(f'{file_dir}/wcmatches.csv')
import_matches_b = pd.read_csv(f'{file_dir}/WorldCupMatches.csv')
import_players = pd.read_csv(f'{file_dir}/WorldCupPlayers.csv')


pd.options.display.float_format = '{:.2f}'.format

In [3]:
import_matches_b.dropna(how='all')

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.00,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.00,1.00,Mexico,,4444.00,3.00,0.00,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.00,1096.00,FRA,MEX
1,1930.00,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.00,0.00,Belgium,,18346.00,2.00,0.00,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.00,1090.00,USA,BEL
2,1930.00,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.00,1.00,Brazil,,24059.00,2.00,0.00,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.00,1093.00,YUG,BRA
3,1930.00,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.00,1.00,Peru,,2549.00,1.00,0.00,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.00,1098.00,ROU,PER
4,1930.00,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.00,0.00,France,,23409.00,0.00,0.00,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.00,1085.00,ARG,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847,2014.00,05 Jul 2014 - 17:00,Quarter-finals,Arena Fonte Nova,Salvador,Netherlands,0.00,0.00,Costa Rica,Netherlands win on penalties (4 - 3),51179.00,0.00,0.00,Ravshan IRMATOV (UZB),RASULOV Abduxamidullo (UZB),KOCHKAROV Bakhadyr (KGZ),255953.00,300186488.00,NED,CRC
848,2014.00,08 Jul 2014 - 17:00,Semi-finals,Estadio Mineirao,Belo Horizonte,Brazil,1.00,7.00,Germany,,58141.00,0.00,5.00,RODRIGUEZ Marco (MEX),TORRENTERA Marvin (MEX),QUINTERO Marcos (MEX),255955.00,300186474.00,BRA,GER
849,2014.00,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0.00,0.00,Argentina,Argentina win on penalties (2 - 4),63267.00,0.00,0.00,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955.00,300186490.00,NED,ARG
850,2014.00,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0.00,3.00,Netherlands,,68034.00,0.00,2.00,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957.00,300186502.00,BRA,NED
851,2014.00,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1.00,0.00,Argentina,Germany win after extra time,74738.00,0.00,0.00,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959.00,300186501.00,GER,ARG

# Transform dataframes so similar rows actually match

In [4]:
import_matches_a1 = import_matches_a.copy()

In [5]:
def draw_replace_win(row):
    team = row['home_team']
    winner = row['winning_team']
    if row['outcome']=='D':
        return f'Draw: {team}'
    else:
        return winner
    
def draw_replace_loss(row):
    team = row['away_team']
    loser = row['losing_team']
    if row['outcome']=='D':
        return f'Draw: {team}'
    else:
        return loser

In [6]:
import_matches_a1['winning_team'] = import_matches_a1.apply(lambda row: draw_replace_win(row), axis=1)
import_matches_a1['losing_team'] = import_matches_a1.apply(lambda row: draw_replace_loss(row), axis=1)

In [7]:
# Verify 'winning'/'losing' teams added
import_matches_a1[29:30]

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
29,1934,Italy,Florence,Quarterfinals,Italy,Spain,1,1,D,NaN,Draw: Italy,Draw: Spain,1934-05-31,May,Thursday

# 2nd step

In [8]:
import_matches_b1 = import_matches_b.copy()

In [9]:
# Find winning team in matches2 based on which team scored more goals
def winner(row):
    home_name = row['Home Team Name']
    if row['Home Team Goals']>row['Away Team Goals']:
        return row['Home Team Name']
    if row['Away Team Goals']>row['Home Team Goals']:
        return row['Away Team Name']
    return f'Draw: {home_name}'

In [10]:
# Apply the function to create a new column referencing each match winner
import_matches_b1['Winning Team'] = import_matches_b1.apply(lambda row: winner(row), axis=1)

In [11]:
# Verify with Italy/Spain index 28
import_matches_b1[27:29]

# #Verify matches with more away goals also worked
# import_matches_b1.loc[import_matches_b1['Home Team Goals']<import_matches_b1['Away Team Goals']]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Winning Team
27,1934.00,31 May 1934 - 16:30,Quarter-finals,San Siro,Milan,Germany,2.00,1.00,Sweden,,...,0.00,0.00,BARLASSINA Rinaldo (ITA),MERCET Rene (SUI),VAN MOORSEL Johannes (NED),418.00,1129.00,GER,SWE,Germany
28,1934.00,31 May 1934 - 16:30,Quarter-finals,Giovanni Berta,Florence,Italy,1.00,1.00,Spain,,...,0.00,0.00,BAERT Louis (BEL),ZENISEK Bohumil (TCH),IVANCSICS Mihaly (HUN),418.00,1122.00,ITA,ESP,Draw: Italy

## Reformat the winning_team column in import_matches1

In [12]:
import_matches_b1['Datetime'] = pd.to_datetime(import_matches_b1['Datetime'])

In [13]:
# Alter the ['Datetime'] column in matches2 to match format of ['date'] in matches4
import_matches_b1['Datetime'] = import_matches_b1['Datetime'].dt.date

In [14]:
# Verify it matches import_matches_a['date']
import_matches_b1.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Winning Team
0,1930.00,1930-07-13,Group 1,Pocitos,Montevideo,France,4.00,1.00,Mexico,,...,3.00,0.00,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.00,1096.00,FRA,MEX,France
1,1930.00,1930-07-13,Group 4,Parque Central,Montevideo,USA,3.00,0.00,Belgium,,...,2.00,0.00,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.00,1090.00,USA,BEL,USA
2,1930.00,1930-07-14,Group 2,Parque Central,Montevideo,Yugoslavia,2.00,1.00,Brazil,,...,2.00,0.00,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.00,1093.00,YUG,BRA,Yugoslavia
3,1930.00,1930-07-14,Group 3,Pocitos,Montevideo,Romania,3.00,1.00,Peru,,...,1.00,0.00,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.00,1098.00,ROU,PER,Romania
4,1930.00,1930-07-15,Group 1,Parque Central,Montevideo,Argentina,1.00,0.00,France,,...,0.00,0.00,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.00,1085.00,ARG,FRA,Argentina

# Step 3 - Add Date to the 'Winning Team' column

In [15]:
import_matches_a2 = import_matches_a1.copy()

In [16]:
# Find winning team in matches2 based on which team scored more goals
def transform_a(row):
    match_team = row['winning_team']
    match_date = row['date']
    return f'{match_team} on {match_date}'

In [17]:
import_matches_a2['join_column'] = import_matches_a2.apply(lambda row: transform_a(row), axis=1)

In [18]:
import_matches_a2.head()

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek,join_column
0,1930,Uruguay,Montevideo,Group 1,France,Mexico,4,1,H,NaN,France,Mexico,1930-07-13,Jul,Sunday,France on 1930-07-13
1,1930,Uruguay,Montevideo,Group 4,Belgium,United States,0,3,A,NaN,United States,Belgium,1930-07-13,Jul,Sunday,United States on 1930-07-13
2,1930,Uruguay,Montevideo,Group 2,Brazil,Yugoslavia,1,2,A,NaN,Yugoslavia,Brazil,1930-07-14,Jul,Monday,Yugoslavia on 1930-07-14
3,1930,Uruguay,Montevideo,Group 3,Peru,Romania,1,3,A,NaN,Romania,Peru,1930-07-14,Jul,Monday,Romania on 1930-07-14
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,H,NaN,Argentina,France,1930-07-15,Jul,Tuesday,Argentina on 1930-07-15

In [19]:
import_matches_b2 = import_matches_b1.copy()

In [20]:
def transform_b(row):
    match_team = row['Winning Team']
    match_date = row['Datetime']
    return f'{match_team} on {match_date}'

In [21]:
import_matches_b2['Join_Column'] = import_matches_b2.apply(lambda row: transform_b(row), axis=1)

In [22]:
import_matches_b2.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Winning Team,Join_Column
0,1930.00,1930-07-13,Group 1,Pocitos,Montevideo,France,4.00,1.00,Mexico,,...,0.00,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.00,1096.00,FRA,MEX,France,France on 1930-07-13
1,1930.00,1930-07-13,Group 4,Parque Central,Montevideo,USA,3.00,0.00,Belgium,,...,0.00,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.00,1090.00,USA,BEL,USA,USA on 1930-07-13
2,1930.00,1930-07-14,Group 2,Parque Central,Montevideo,Yugoslavia,2.00,1.00,Brazil,,...,0.00,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.00,1093.00,YUG,BRA,Yugoslavia,Yugoslavia on 1930-07-14
3,1930.00,1930-07-14,Group 3,Pocitos,Montevideo,Romania,3.00,1.00,Peru,,...,0.00,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.00,1098.00,ROU,PER,Romania,Romania on 1930-07-14
4,1930.00,1930-07-15,Group 1,Parque Central,Montevideo,Argentina,1.00,0.00,France,,...,0.00,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.00,1085.00,ARG,FRA,Argentina,Argentina on 1930-07-15

# Join the tables in Python to find ways to transform data for better PostGres results

In [23]:
import_matches_a3 = import_matches_a2.copy()
import_matches_b3 = import_matches_b2.copy()

import_matches_a3 = import_matches_a3.set_index('join_column')
import_matches_b3 = import_matches_b3.set_index('Join_Column')

joined_df1 = import_matches_a3.join(import_matches_b3)

In [24]:
# Identify any rows where the Home Teams from both table do not sync up
joined_df2 = joined_df1.loc[(joined_df1['Home Team Name']!=joined_df1['home_team'])|(joined_df1['Away Team Name']!=joined_df1['away_team'])]

In [25]:
# View those rows to identify ways to transform data
joined_df2[['Home Team Name','home_team', 'Away Team Name','away_team', 'Home Team Goals','home_score','Away Team Goals','away_score','winning_team']]

,Home Team Name,home_team,Away Team Name,away_team,Home Team Goals,home_score,Away Team Goals,away_score,winning_team
Algeria on 1982-06-16,Germany FR,West Germany,Algeria,Algeria,1.00,1,2.00,2,Algeria
Algeria on 2014-06-22,Korea Republic,South Korea,Algeria,Algeria,2.00,2,4.00,4,Algeria
Argentina on 1930-07-26,Argentina,Argentina,USA,United States,6.00,6,1.00,1,Argentina
Argentina on 1986-06-02,Argentina,Argentina,Korea Republic,South Korea,3.00,3,1.00,1,Argentina
Argentina on 1986-06-29,Argentina,Argentina,Germany FR,West Germany,3.00,3,2.00,2,Argentina
...,...,...,...,...,...,...,...,...,...
Yugoslavia on 1958-06-11,Yugoslavia,France,France,Yugoslavia,3.00,2,2.00,3,Yugoslavia
Yugoslavia on 1962-06-02,Yugoslavia,Uruguay,Uruguay,Yugoslavia,3.00,1,1.00,3,Yugoslavia
Yugoslavia on 1962-06-07,Yugoslavia,Colombia,Colombia,Yugoslavia,5.00,0,0.00,5,Yugoslavia
Yugoslavia on 1962-06-10,Yugoslavia,West Germany,Germany FR,Yugoslavia,1.00,0,0.00,1,Yugoslavia
Yugoslavia on 1990-06-19,Yugoslavia,Yugoslavia,"rn"">United Arab Emirates",United Arab Emirates,4.00,4,1.00,1,Yugoslavia

## Problem 1: Some rows have swapped home/away teams in 'import_matches_a' and 'import_matches_b'

In [26]:
# Many rows have the home team and away teams swapped with each other
swapped_home_away_df = joined_df2.loc[(joined_df2['Home Team Name']==joined_df2['away_team'])|
                                      (joined_df2['Away Team Name']==joined_df2['home_team'])]

In [27]:
# Those swapped rows are displayed -- show that the versions from import_matches7 should get switched
swapped_home_away_df[['Home Team Name','home_team', 'Away Team Name','away_team', 'Home Team Goals','home_score','Away Team Goals','away_score','winning_team']]

,Home Team Name,home_team,Away Team Name,away_team,Home Team Goals,home_score,Away Team Goals,away_score,winning_team
Austria on 1954-06-26,Austria,Switzerland,Switzerland,Austria,7.00,5,5.00,7,Austria
Brazil on 1930-07-20,Brazil,Bolivia,Bolivia,Brazil,4.00,0,0.00,4,Brazil
Brazil on 1958-06-08,Brazil,Austria,Austria,Brazil,3.00,0,0.00,3,Brazil
Brazil on 1958-06-29,Brazil,Sweden,Sweden,Brazil,5.00,2,2.00,5,Brazil
Brazil on 1962-06-13,Brazil,Chile,Chile,Brazil,4.00,2,2.00,4,Brazil
...,...,...,...,...,...,...,...,...,...
Yugoslavia on 1954-06-16,Yugoslavia,France,France,Yugoslavia,1.00,0,0.00,1,Yugoslavia
Yugoslavia on 1958-06-11,Yugoslavia,France,France,Yugoslavia,3.00,2,2.00,3,Yugoslavia
Yugoslavia on 1962-06-02,Yugoslavia,Uruguay,Uruguay,Yugoslavia,3.00,1,1.00,3,Yugoslavia
Yugoslavia on 1962-06-07,Yugoslavia,Colombia,Colombia,Yugoslavia,5.00,0,0.00,5,Yugoslavia
Yugoslavia on 1962-06-10,Yugoslavia,West Germany,Germany FR,Yugoslavia,1.00,0,0.00,1,Yugoslavia

In [28]:
# Create functions to swap the 4 home/away values imported from import_matches7
def swap_home_name(row):
    home_name = row['Home Team Name']
    return home_name

def swap_away_name(row):
    away_name = row['Away Team Name']
    return away_name

def swap_home_score(row):
    home_score = row['Home Team Goals']
    return home_score

def swap_away_score(row):
    away_score = row['Away Team Goals']
    return away_score

In [29]:
# Apply those 4 functions on the columns from import_matches7
swapped_home_away_df['home_team'] = swapped_home_away_df.apply(lambda row: swap_home_name(row), axis=1)
swapped_home_away_df['away_team'] = swapped_home_away_df.apply(lambda row: swap_away_name(row), axis=1)
swapped_home_away_df['home_score'] = swapped_home_away_df.apply(lambda row: swap_home_score(row), axis=1)
swapped_home_away_df['away_score'] = swapped_home_away_df.apply(lambda row: swap_away_score(row), axis=1)

C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [30]:
# Verify the functions worked properly
swapped_home_away_df[['Home Team Name','home_team', 'Away Team Name','away_team', 'Home Team Goals','home_score','Away Team Goals','away_score','winning_team']].head()

,Home Team Name,home_team,Away Team Name,away_team,Home Team Goals,home_score,Away Team Goals,away_score,winning_team
Austria on 1954-06-26,Austria,Austria,Switzerland,Switzerland,7.00,7.00,5.00,5.00,Austria
Brazil on 1930-07-20,Brazil,Brazil,Bolivia,Bolivia,4.00,4.00,0.00,0.00,Brazil
Brazil on 1958-06-08,Brazil,Brazil,Austria,Austria,3.00,3.00,0.00,0.00,Brazil
Brazil on 1958-06-29,Brazil,Brazil,Sweden,Sweden,5.00,5.00,2.00,2.00,Brazil
Brazil on 1962-06-13,Brazil,Brazil,Chile,Chile,4.00,4.00,2.00,2.00,Brazil

In [31]:
# Go back to the joined_df2 and actually swap those columns
joined_df2.loc[joined_df2['Home Team Name']==joined_df2['away_team']] = swapped_home_away_df

C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1884: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, val, pi)

In [32]:
# Verify there are no more columns where the Home Team from import_matches6 is considered the away_team in import_matches7
joined_df2.loc[joined_df2['Home Team Name']==joined_df2['away_team']]

Empty DataFrame
Columns: [year, country, city, stage, home_team, away_team, home_score, away_score, outcome, win_conditions, winning_team, losing_team, date, month, dayofweek, Year, Datetime, Stage, Stadium, City, Home Team Name, Home Team Goals, Away Team Goals, Away Team Name, Win conditions, Attendance, Half-time Home Goals, Half-time Away Goals, Referee, Assistant 1, Assistant 2, RoundID, MatchID, Home Team Initials, Away Team Initials, Winning Team]
Index: []

[0 rows x 36 columns]

## Problem 2: Some teams have different monikers (i.e. USA vs United States)

In [33]:
joined_df3 = joined_df2.copy()

In [34]:
joined_df3[['Home Team Name','home_team', 'Away Team Name','away_team', 'Home Team Goals','home_score','Away Team Goals','away_score','winning_team']].loc[(joined_df3['Home Team Name']!=joined_df3['home_team'])|(joined_df3['Away Team Name']!=joined_df3['away_team'])]

,Home Team Name,home_team,Away Team Name,away_team,Home Team Goals,home_score,Away Team Goals,away_score,winning_team
Algeria on 1982-06-16,Germany FR,West Germany,Algeria,Algeria,1.00,1.00,2.00,2.00,Algeria
Algeria on 2014-06-22,Korea Republic,South Korea,Algeria,Algeria,2.00,2.00,4.00,4.00,Algeria
Argentina on 1930-07-26,Argentina,Argentina,USA,United States,6.00,6.00,1.00,1.00,Argentina
Argentina on 1986-06-02,Argentina,Argentina,Korea Republic,South Korea,3.00,3.00,1.00,1.00,Argentina
Argentina on 1986-06-29,Argentina,Argentina,Germany FR,West Germany,3.00,3.00,2.00,2.00,Argentina
...,...,...,...,...,...,...,...,...,...
West Germany on 1990-06-24,NaN,West Germany,NaN,Netherlands,NaN,2.00,NaN,1.00,West Germany
West Germany on 1990-07-01,NaN,West Germany,NaN,Czechoslovakia,NaN,1.00,NaN,0.00,West Germany
West Germany on 1990-07-04,NaN,West Germany,NaN,England,NaN,1.00,NaN,1.00,West Germany
West Germany on 1990-07-08,NaN,West Germany,NaN,Argentina,NaN,1.00,NaN,0.00,West Germany
Yugoslavia on 1990-06-19,Yugoslavia,Yugoslavia,"rn"">United Arab Emirates",United Arab Emirates,4.00,4.00,1.00,1.00,Yugoslavia

In [35]:
names_to_correct = ['Germany FR', 
                    'Korea Republic', 
                    'USA', 
                    'rn">United Arab Emirates', 
                    "C�te d'Ivoire", 
                    'rn">Serbia and Montenegro', 
                    'rn">Bosnia and Herzegovina', 
                    'IR Iran', 
                    'German DR', 
                    'Korea DPR',
                    'rn">Republic of Ireland',
                    'Yugoslavia',
                    'rn">Trinidad and Tobago',
                    'Dutch East Indies'
                ]

In [36]:
joined_df4 = joined_df3.copy()

In [37]:
joined_df4 = joined_df4[joined_df4['Home Team Name'].notna()]

In [38]:
name_swap_df = joined_df4.loc[(joined_df4['Home Team Name']!=joined_df4['home_team'])|(joined_df4['Away Team Name']!=joined_df4['away_team'])]

In [39]:
name_swap_df['Home_Team_Name'] = name_swap_df['Home Team Name']
name_swap_df['Away_Team_Name'] = name_swap_df['Away Team Name']

C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [40]:
home_names1 = name_swap_df.home_team.unique()

In [41]:
home_names2 = name_swap_df.Home_Team_Name.unique()

In [42]:
away_names1 = name_swap_df.away_team.unique()

In [43]:
away_names2 = name_swap_df.Away_Team_Name.unique()

In [44]:
# Identify home names to switch
for i in range(len(home_names1)):
    print(home_names1[i])
    print(home_names2[i])
    print(' ')

West Germany
Germany FR

South Korea
Korea Republic

Argentina
Argentina

Austria
Austria

Belgium
Belgium

Brazil
Brazil

Chile
Chile

United Arab Emirates
rn">United Arab Emirates

Colombia
Colombia

United States
USA

Denmark
Denmark

England
England

France
France

Germany
Germany

Italy
Italy

Nigeria
Nigeria

Russia
Russia

Slovenia
Slovenia

Spain
Spain

Uruguay
Uruguay

Ghana
Ghana

Greece
Greece

Hungary
Hungary

Mexico
Mexico

East Germany
German DR

Netherlands
Netherlands

Serbia
rn">Serbia and Montenegro

Paraguay
Paraguay

Poland
Poland

Portugal
Portugal

Sweden
Sweden

Switzerland
Switzerland

Yugoslavia
Yugoslavia

In [45]:
# Identify away names to switch
for i in range(len(away_names1)):
    print(away_names1[i])
    print(away_names2[i])
    print(' ')

Algeria
Algeria

United States
USA

South Korea
Korea Republic

West Germany
Germany FR

Ivory Coast
C�te d'Ivoire

Serbia
rn">Serbia and Montenegro

Bosnia and Herzegovina
rn">Bosnia and Herzegovina

Iran
IR Iran

Belgium
Belgium

East Germany
German DR

North Korea
Korea DPR

Colombia
Colombia

Czech Republic
Czech Republic

Czechoslovakia
Czechoslovakia

Republic of Ireland
rn">Republic of Ireland

FR Yugoslavia
Yugoslavia

Trinidad and Tobago
rn">Trinidad and Tobago

Germany
Germany

Ghana
Ghana

Dutch West Indies
Dutch East Indies

Italy
Iran

Mexico
Italy

Netherlands
Mexico

Romania
Netherlands

Spain
Romania

Turkey
Spain

Uruguay
Turkey

United Arab Emirates
Uruguay